body{
	background: #f4f2ec url(../img/fundo.png)repeat-x;
	font: 12px "Lucinda Grande", "Lucinda Sans Unicode", Arial, sans-serif;

}

#container{
	width: 1080px;
	margin: 0 auto;

}

a:link, a:active, a:visited{
	color: #af670a;
	text-decoration: none;
}

a:hover{
	color: #227115;
}

#logo h1{
	float: left;
}

#logo a {
	width: 248px;
	height: 21px;
	text-indent: -999px;
	display: block;
	background: url(../img/logo.png) no-repeat;
}

header{
	padding: 15px ;
	height: 55px;
	
}

nav ul{
	list-style: none;
	margin: 20px;
	float: right;

}

nav ul li{
	float: left;
}

nav ul li a:link{
	display: block;
	margin-right:25px ;
	padding-bottom:3px ;
	text-transform:uppercase ;
}

nav ul li a:hover{
	border-bottom: 1px solid #535858;
}

#conteudo{
	width: 710px;
	float: left;
	margin-bottom: 20px;

}

aside{
	width: 350px;
	float: right;
	background: #ebe7dd;
	padding-bottom: 30px;
	margin-bottom: 20px;
}

section#visita{
	background: #cdc8b1;
	padding: 10px 27px 27px 27px;
	margin-top: 10px;
}
#galeria{
	padding: 0 27px 0 27px;
}
section#galeria a{
	display: block;
	background: url(../img/fundo-foto.png) no-repeat;
	float: left;
	padding: 17px 15px 18px 15px;
	margin: 10px 0 0 20px;
}

section#galeria img{
	margin-left: 2px;
	margin-top: 3px;
}


article#video{
	float: left;
	width: 310px;
	margin-left: 25px;
}

article#mapa{
	float: left;
	width: 310px;
	margin-left: 37px;
}

article#exposicoes{
	float: left;
	width: 310px;
	margin: 15px 0 0 25px;
}

article#historia{
	float: left;
	width: 310px;
	margin: 15px 0 0 37px;
}

h3{
	color: #227115;
	font-size: 1.0em;
	margin-bottom: 15px;
	text-transform: uppercase;
}

h4{
	color: #86521a;
	text-transform: uppercase;
	padding-bottom: 3px;
	margin-bottom: 0;
}

input{
	height: 20px;
	background: #fff;
	border: none;
	font-size: 1em;
	width: 80px;
}

input.campo {
	border: 1px solid #ada484;
}


input.botao{
	background: #9b9271;
	color: white;
	width: 100%;
	height: 40px;
	font-size: 1.2em;
}

fieldset{
	border: none;

}

legend{
	display: none;
}

footer{
	clear: both;
	padding: 20px 0 30px 0;
	text-align: center;
	background: url(../img/fundo-rodape.png) no-repeat center top;
	margin-top: 20px;

}

footer>p a{
	padding: 2px 10px;
}




#teste1{
width: 100%;
height: 450px;
border-radius: 60px 60px 0px 0px;
border: 1px solid #000;
background: url(../img/oo.jpeg);, lightgray 50% / cover no-repeat;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#teste{
	width: 421px;
height: 418px;
flex-shrink: 0;
  border-radius: 421px;
background: url(../img/ho.jpeg); , lightgray 50% / cover no-repeat;
}

#center{
	margin: 200px 500px;
}

#hosana{
	color: #000;
text-align: center;
font-family: "Jockey One";
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 200px;
}